#menu-area-main:hover #container-info-user {
    display: block;
}

#container-info-user {
    display: none;
    z-index: 101;
    height: auto;
    width: auto;
    background-color: white;
    position: absolute;
    margin-top: 50px;
}

#menu-area-main {
    height: 55px !important;
    background-repeat: no-repeat;
}

.info-user {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info-user:hover {
    background-color: #FF7777;
    color: white;
    transition: none;
}