.filters {
    width: 350px;
    height: auto;
    background-color: white;
    position: absolute;
    margin-top: 458px;
    margin-left: 20px;
    /* border: solid 1px red; */
}

.container-filters {
    /* border: solid 1px red; */
    margin: 10px;
    padding: auto;
}

.title-filters {
    margin-left: 15px;
}


/* Checkbox */

.info {
    text-align: center;
    padding: 20px;
    color: #001F3F;
    border-bottom: 1px solid #ccc;
}

.info p {
    margin-top: 20px;
}

.checkboxDoors {
    margin-left: 15px;
}

.checkboxDoors h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}

.checkboxDoors>div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.checkboxDoors label {
    display: inline-block;
    cursor: pointer;
    color: red;
    position: relative;
    padding: 5px 15px 5px 51px;
    margin-right: 3px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.checkboxDoors label:hover {
    background: rgba(255, 65, 54, 0.1);
}

.checkboxDoors label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    background: none;
    border: 3px solid red;
}

.checkboxDoors input[type="radio"] {
    display: none;
}

.checkboxDoors input[type="radio"]:checked+label:before {
    display: none;
}

.checkboxDoors input[type="radio"]:checked+label {
    padding: 5px 15px;
    background: red;
    border-radius: 2px;
    color: #fff;
}

.checkboxDoors label:before {
    border-radius: 3px;
}

.checkboxDoors input[type="checkbox"] {
    display: none;
}

.checkboxDoors input[type="checkbox"]:checked+label:before {
    display: none;
}

.checkboxDoors input[type="checkbox"]:checked+label {
    background: red;
    color: #fff;
    padding: 5px 15px;
}

.brand-bg {
    height: auto;
}

.containerpagbutt {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 39%;
}

.buttpagination {
    background-color: black;
    width: 170px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    margin: 5px;
}

.buttpagination:hover {
    background-color: red;
}

.containernumpage {
    background-color: black;
    width: 60px;
    height: 50px;
    border-radius: 20px;
    color: white;
    margin: 5px;
}

.containernumpage>p {
    font-size: 19px;
    margin-top: 15px;
}

.brand-bg>.notfound>.row {
    width: 100%;
    height: 200px;
    background-color: red;
}